body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}
h1,h2,h3,h4,h5,h6{
  color: #5D5A5B;
}
@media (max-width:480px){
  h1{font-size: 180%;}
  h2{font-size: 160%;}
  h3{font-size: 140%;}
  h4{font-size: 120%;}
  h5{font-size: 100%;}
  h6{font-size: 80%;}
}
header{
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header img.logo{
  float: left;
  padding: 22px 0;
  max-width: 100%;
}
header .middle{
  /*width: 100%;*/
}
header .middle:before, header .middle:after{
  content: "";
  display: table;
}
header .middle:after{
  clear: both;
}

header .middle ul.navegation{
  position: relative;
  right: 50%;
  border: none;
  float: right;
  list-style: none;
  margin: 0;
}
header .middle .navegation li{
  right: -50%;
  float: left;
  position: relative;
  padding: 32px 5px;
}
header .middle .navegation li:after{
  position: absolute;
  content: ".";
  color: transparent;
  right: 0;
  height: 35px;
  width: 1px;
  background-color: #E3E3E3;
  top: 50%;
  transform: translateY(-50%);
}
header .middle .navegation li:last-child:after{
  display: none;
}
header .middle .navegation li a{
  color: #444;
  text-decoration: none;
  font-size: 100%;
  padding: 8px 5px;
  display: inline-block;
  text-transform: uppercase;
}
header .social{
  position: absolute;
  right: 0;
  top: 0;
  padding: 39px 0;
}
header a.menu-hamburger{
  display: inline-block;
  color: #F7BF00;
  padding: 36px 10px;
  font-size: 140%;
}
@media (max-width: 768px){
  header{
    position: relative;
    height: auto;
  }
  header .no-container-left{
    padding-left: 0;
  }
  header .no-container{
    padding: 0
  }
  header img.logo{
    float: left;
    padding: 14px 0 10px;
    max-width: 45%;
  }
  header .middle .navegation li{
    padding: 2px 4px;
  }
  header .middle .navegation li:after{
    height: 10px;
  }
  header .middle .navegation li a{
    font-size: 70%;
  }
  header .menu-awp{
    position: absolute;
    width: 130px;
    top: 0;
    right: 15px;
  }
  header .social{
    padding: 16px 0 10px;
  }
  header a.menu-hamburger{
    padding: 16px 10px 10px;
  }
  header .dropdown-menu{
    right: 0;
    left: auto
  }
}
.destaque{
  position: relative;
}
.destaque .busca{
  position: absolute;
  z-index: 210;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  text-align: center;
}
.destaque .busca h1{
  margin: 10px;
  font-weight: 300;
}
.destaque .busca a.adv{
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  margin: 30px 0 0;
  display: inline-block;
}
.destaque a.proxima-area{
  position: absolute;
  z-index: 210;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  color: #F7BF00;
  text-decoration: none;
  font-size: 200%;
}
@media (max-width: 768px){
  .destaque .busca{
    top: 10px;
    transform: translateX(-50%);
    width: 95%;
    padding: 0;
  }
  .destaque .busca .container{
    padding: 10px;
  }
  .destaque .busca h1{
    font-size: 115%;
    margin-bottom: 15px;
  }
  .destaque .busca a.adv{
    margin-top: 5px;
  }
  .destaque a.proxima-area{
    bottom: 15px;
  }
}

/*Deixando as imagens do carousel 100% de lateral*/
.carousel-inner>.item>img{
  max-width: inherit;
  min-width: 100%;
}
.destaque .carousel-caption{
  position: absolute;
  text-align: center;
  right: 0;
  left: auto;
  bottom: 20px;
  z-index: 10;
  padding: 35px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.destaque .carousel-control{
  bottom: inherit;
  top:50%;
  transform: translateY(-50%);
  height: 100px;
  background: none;
}
.destaque .carousel-control:hover{
  background: none;
}

.destaque .carousel-caption h2{
  color: white;
}
@media (max-width:768px) {
  .destaque .carousel-caption{
    left: 0;
    bottom: 0;
    padding-bottom: 70px;
  }
}
.carousel-caption-destaque h2{
  margin: 0;
}



/*Slide de Destaque home*/
#destaques h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel-destaque .carousel-control {
  bottom: inherit;
  top:50%;
  transform: translateY(-50%);
  height: 100px;
  background: none;
}
.carousel-imoveis{
  padding-bottom: 50px;
}
@media (max-width:1024px){
  .carousel-imoveis .carousel-control{
    width: 7%;
  }
}
@media (max-width:768px){
  .carousel-imoveis .carousel-control{
    width: 10%;
  }
}

.carousel-imoveis .carousel-control.right,
.carousel-imoveis .carousel-control.left{
  background: none;
  color: #F6B602;
}
.carousel-imoveis .carousel-indicators li{
  background-color: #999;
}
.carousel-imoveis .carousel-indicators li.active{
  background-color: #F7BF00;
}
.carousel-imoveis .imovel{
  display: inline-block;
  width: 100%;
  color: #444;
  text-decoration: none;
  padding-bottom: 45px;
  position: relative;
  transition: 1s all;
}
.carousel-imoveis .imovel .plus{
  position: absolute;
  transition: 0.5s 0.3s all;
  bottom: 25px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
  border: 1px solid #999;
  border-radius: 100%;
  background-color: white;
  color: #F7BF00;
  padding: 8.5px 12.5px;
  font-size: 110%;
}
.carousel-imoveis .imovel:hover .plus{
  transform: rotate(90deg) translateY(50%);
}
.carousel-imoveis .imovel .imagem-destaque{
  position: relative;
  height: 10px;
  padding-bottom: 71%;
  overflow: hidden;
  width: 100%;
}
.carousel-imoveis .imovel .imagem-destaque img{
  position: absolute;
  top:50%;
  left: 50%;
  max-width: inherit;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkig-transform: translate(-50%,-50%);
}
.carousel-imoveis .imovel .mais{
  display: table;
  content: "";
  width: 100%;
}
.carousel-imoveis .imovel .info{
  padding: 30px;
  border: 1px solid #999;
  border-top: none;
}
.carousel-imoveis .imovel .info h2
.carousel-imoveis .imovel .info h4{
  margin-top: 0;
}
.carousel-imoveis .imovel .info .detalhes{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.carousel-imoveis .imovel .info .avatar{
  padding-right: 0;
  position: relative;
  height: 85px;
}
.carousel-imoveis .imovel .info .avatar img{
  position: absolute;
  top:50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkig-transform: translate(-50%,-50%);
}

/*Home Servicos*/
#servicos{
  padding-top: 100px;
  padding-bottom: 100px;
}
.servico{
  position: relative;
}
.servico img{
  width: 100%;
}
.servico a.btn{
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#ultimosvistos h1,
#pesquisas h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#pesquisas{
  padding-bottom: 100px;
}
.coluna{
  margin-top: 25px;
}
.pesquisa{
  border: 1px solid #999;
  border-top: 3px solid #F7BF00;
  padding: 30px;
}
.pesquisa ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#sobre{
  background-color: #F1F1F1;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
#sobre p{
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 180%;
}

#newsletter{
  background-color: #333333;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#newsletter .form-group{
  width: 90%;
}
#newsletter label{
  width: 48%;
}
#newsletter input{
  width: 48%;
}
@media (max-width:1024px){
  #newsletter .form-group{
    width: 85%
  }
}
@media (max-width:768px){
  #newsletter .form-group{
    width: 100%;
  }
  #newsletter label{
    width: 100%;
  }
  #newsletter input{
    width: 100%;
  }
}

footer{
  padding-top: 25px;
}
footer .logo{
  max-width: 100%;
}
footer h3{
  font-size: 110%;
  margin-top: 0;
  color: black;
}

footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li a{
  color: #444;
  text-decoration: none;
}
footer p.copyright{
  text-align: center;
  font-size: 80%;
}
footer p.onegate{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
footer .endereco{
  font-size: 90%;
}
footer span{
  font-size: 120%;
}

@media (max-width:768px) {
  footer{text-align: center;}
  footer h3{
    margin-top: 25px;
  }

  footer .endereco{
   margin-top: 25px;
  }

}
.btn{
  display: inline-block;
  padding: 7px 11px;
  color: black;
  border-radius: 5px;
  border: 1px solid #F7BF00;
  background-color: #F7BF00;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s all;
}
.btn-transparent{
  background-color: transparent;
  color: #F7BF00;
}
.btn-transparent:hover{
  background-color: #F7BF00;
  color: white;
}
.btn-white{
  background-color: white;
  color: #666;
  border: none;
}
.btn-large{
  width: 8%;
  padding: 15px 3px;
}

.busca-form .form-group{
  /*width: 30%;*/
  padding: 0;
  position: relative;
}
.busca-form .form-group .btn-large{
  width: 90%;
}
.busca-form .form-group .form-control{
  width: 100%;
  font-size: 100%;
  padding: 25px 12px;
  height: 52px;
  background: white;
  border: 1px solid #F7BF00;
  border-radius: 0 !important;
  position: relative;
}

@media (max-width:768px){
  .busca-form .form-group{
    width: 100%;
  }
  .busca-form .form-group .form-control{
    width: 100%;
  }
  .btn-large{
    width: auto;
  }
}
.busca-form .form-group .form-control.icon{
  padding: 25px 33px 25px 12px;
}
.busca-form .form-group span.upper-icon{
  position: absolute;
  right:10px;
  top:50%;
  transform: translateY(-50%);
  font-size: 120%;
  color: #F6B602;
}
.busca-form select{
  border-radius: 0;
  box-shadow: none!important;
}




.btn-select {
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: 0;
    height: 52px;
}


.btn-select .btn-select-value {
    padding: 15px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    font-weight: lighter;
}

.btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 15px 11px;
  top: 0;
  background: white;
}
@media (max-width:768px){
  .busca-form .form-group .form-control{
    height: 40px;
  }
  .busca-form .form-group .form-control.icon{
    padding: 18px 33px 18px 12px;
  }
  .btn-select {
      height: 40px;
  }
  .btn-select .btn-select-value{
    padding: 9px 12px;
  }
  .btn-select .btn-select-arrow{
    padding: 9px 11px;
  }
}
.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/* Primary Start */
.btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
    border-color: #286090;
}

.btn-select.btn-primary ul li.selected {
    background-color: #2e6da4;
    color: white;
}

.btn-select.btn-primary ul {
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary .btn-select-value {
    background-color: #428bca;
    border: #2e6da4 1px solid;
}

.btn-select.btn-primary:hover, .btn-select.btn-primary.active {
    background-color: #286090;
}
/* Primary End */

/* Success Start */
.btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
    border-color: #4cae4c;
}

.btn-select.btn-success ul li.selected {
    background-color: #4cae4c;
    color: white;
}

.btn-select.btn-success ul {
    border: #4cae4c 1px solid;
}

.btn-select.btn-success .btn-select-value {
    background-color: #5cb85c;
    border: #4cae4c 1px solid;
}

.btn-select.btn-success:hover, .btn-select.btn-success.active {
    background-color: #449d44;
}
/* Success End */

/* info Start */
.btn-select.btn-info:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
    border-color: #46b8da;
}

.btn-select.btn-info ul li.selected {
    background-color: #46b8da;
    color: white;
}

.btn-select.btn-info ul {
    border: #46b8da 1px solid;
}

.btn-select.btn-info .btn-select-value {
    background-color: #5bc0de;
    border: #46b8da 1px solid;
}

.btn-select.btn-info:hover, .btn-select.btn-info.active {
    background-color: #269abc;
}
/* info End */

/* warning Start */
.btn-select.btn-warning:hover, .btn-select.btn-warning:active, .btn-select.btn-warning.active {
    border-color: #eea236;
}

.btn-select.btn-warning ul li.selected {
    background-color: #eea236;
    color: white;
}

.btn-select.btn-warning ul {
    border: #eea236 1px solid;
}

.btn-select.btn-warning .btn-select-value {
    background-color: #f0ad4e;
    border: #eea236 1px solid;
}

.btn-select.btn-warning:hover, .btn-select.btn-warning.active {
    background-color: #d58512;
}
/* warning End */

/* danger Start */
.btn-select.btn-danger:hover, .btn-select.btn-danger:active, .btn-select.btn-danger.active {
    border-color: #d43f3a;
}

.btn-select.btn-danger ul li.selected {
    background-color: #d43f3a;
    color: white;
}

.btn-select.btn-danger ul {
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger .btn-select-value {
    background-color: #d9534f;
    border: #d43f3a 1px solid;
}

.btn-select.btn-danger:hover, .btn-select.btn-danger.active {
    background-color: #c9302c;
}
/* danger End */

.btn-select.btn-select-light .btn-select-value {
    background-color: white;
    color: black;
}
